body {
    margin: 0;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(js-adventure.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    opacity: 0.6; 
    z-index: -1; 
}


.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 5%;
    margin-left: 2%;
}

input {
    background-color: rgba(216, 218, 220, 0.901);
    padding: 3px;
    border: none;
    box-shadow: 1px 1px 6px 3px rgb(255, 255, 255);
    margin-bottom: 5px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 5px;
    margin-left: 5px;
    color: rgb(0, 0, 0);
    font-family: serif;
    font-size: larger;
}

span {
    color: aliceblue;
    margin-left: 10px;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-style: italic;
    font-family: cursive;
    text-shadow: 2px 2px 2px rgb(105, 105, 105);
    text-align: center;
    margin-top: -10px;

}

h2 {
    font-size: 60px;
    margin-top: 3%;
    font-family: monospace;
    text-shadow: 1px 3px 3px rgba(39, 150, 219, 0.84);
    color: rgb(255, 0, 0);
}

.login {
    border: 3px solid rgb(167, 175, 175);
    box-shadow: inset 0.5px 0.5px 12px 1px rgba(0, 0, 55, 0.522);
    border-radius: 10px;
    align-items: center;
    padding: 3%;
    background: linear-gradient(rgba(119, 167, 167, 0.619), rgba(165, 134, 165, 0.526));
}

.login_button {
    background-color: rgb(63, 179, 67);
    color: aliceblue;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 1px;
    padding-bottom: 3px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 36%;
}

.registerButton {
    background-color: rgba(255, 5, 5, 0.901);
    color: azure;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    margin-left: 30%;

}

.registration {
    border: 2px solid black;
    padding: 5%;
    display: flex;
    gap: 5px;
    align-items: center;
    display: none;
    border-radius: 10px;
    box-shadow: inset 0.5px 0.5px 12px 1px rgba(180, 180, 209, 0.953);
    background: linear-gradient(to right, rgba(158, 195, 195, 0.744), rgba(122, 107, 158, 0.623));
}

.register_back {
    background-color: blue;
    color: aliceblue;
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.regButton {
    background-color: rgb(3, 110, 74);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    margin-left: 30%;
    padding: 5px;
    cursor: pointer;
}

.forgotPassButton {
    background-color: rgb(173, 178, 183);
    padding: 1px;
    border: none;
    box-shadow: 1px 1px 1px 5px rgba(255, 255, 255, 0.666);
    cursor: pointer;
    font-style: italic;
    margin-left: 26%;
    font-family: fantasy;
}

.forgodPassword {
    border: 2px solid rgb(105, 102, 102);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset 0.5px 0.5px 12px 1px rgba(1, 1, 40, 0.522);
    display: none;
    background: linear-gradient(to right, rgba(130, 160, 136, 0.59), rgba(219, 220, 158, 0.579));
}

.infoText {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 0.5px 0.5px 0.5px rgb(83, 12, 146);
}

.submitButton {
    margin-left: 15%;
    background-color: rgb(4, 104, 11);
    color: azure;
    padding: 3px;
    font-family: monospace;
    border-radius: 3px;
    cursor: pointer;
}

.shownPass {
    color: aliceblue;
    box-shadow: inset 0.5px 0.5px 12px 1px rgba(126, 126, 151, 0.877);
    padding: 5%;
    border-radius: 10px;
    display: none;
    background: linear-gradient(to right, rgba(154, 141, 182, 0.701), rgba(172, 109, 109, 0.641));
}

.shownButton {
    background-color: rgb(158, 180, 180);
    color: rgb(0, 0, 0);
    margin-left: 10%;
    padding: 5px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    font-family:cursive ;
}

p {
    font-family: monospace;
    font-size: larger;
    text-shadow: 1px 1px 1px rgba(255, 0, 0, 0.515);
}

.returnButton {
    background-color: lightgreen;
    color: black;
    cursor: pointer;
    border: none;
    padding: 3px;
    border-radius: 5px;
    margin-left: 20%;
}

.backButton {
    background-color: blue;
    color: antiquewhite;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

.header {
    background-color: rgb(22, 37, 87);
    color: aliceblue;
    padding: 10px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(22, 37, 87);
    color: aliceblue;

    text-align: center;

}

@media screen and (max-width: 600px) {
    h1{
        font-size: 10px;
    }
  
    .container {
        display: flex;
        justify-content:center;
        align-items: center;
        margin-top: 15%;
    }

}